.mainFriends{
    margin: 1rem;
    margin-top: 10%;
    display: flex;
}

.containerFriends{
    width: 45rem;
    text-align: center;
    margin: auto;
}

.LoginFriends{
    display: flex;
    flex-direction: row;
}

.matInputFriend, .masCardInputFriends{
    width: 80%;
}

mat-cmat-card-footer{
    text-align: right;
    margin: auto;
}
.buttonAdd{
margin: 1rem;
}

.listFriends{
    width: 100%;
}


.buttonclear{
    flex: 1 1 auto;
}
::ng-deep .containerFriends{
            
    border-radius: 30px !important;
    border: 1px solid #3f51b5;
}



