<main>
  <mat-card>
    <form>
      <mat-card-header>
        <mat-card-title>Login</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="logForm">
          <mat-form-field appearance="outline">
            <mat-label>Username</mat-label>
            <input matInput placeholder="eg: batman" #user>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Password</mat-label>
            <input matInput type="password" placeholder="*******" #password>
          </mat-form-field>
        </div>
      </mat-card-content>
      <mat-card-footer>
        <button class="logButton" mat-flat-button color="primary"
          (click)="authenticate(user,password)">Ingresar</button>
      </mat-card-footer>
    </form>
  </mat-card>
</main>