
.mainFriends{
    margin: 1rem;
    margin-top: 10%;
    display: flex;
}

.containerFriends{
    width: 46rem;
    text-align: center;
    margin: auto;
}


.matInputFriend, .listFriends{
    width: 100%;
}

mat-cmat-card-footer{
    text-align: right;
    margin: auto;
}
.buttonAdd{
margin: auto;
flex-direction: row;
display: flex;
margin-left: 10px;
}


.buttonclear{
    flex: 1 1 auto;
}

.formAutocomplit{
    min-width: 150px;
    max-width: 500px;
    width: 90%;
    display: flex;
    flex-direction: row;
    margin-left: 1rem;
}

.buttonRemove{
    display: flex;
}
