<mat-card class="mainFriends">
        <div class="containerFriends">
                <h4>{{title}}</h4>
                <div class="LoginFriends">
                        <form class="formAutocomplit" >
                                <mat-form-field appearance="outline" class="matInputFriend">

                                        <input type="text" placeholder="individuo" aria-label="allIndividuals" matInput
                                                [formControl]="myControl" [matAutocomplete]="auto"[(ngModel)]="candidateIndividualToAdd">
                                        <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
                                                <mat-option *ngFor="let individual of individualsNotAdded"
                                                [value]="individual">
                                                        {{individual.apodo}}
                                                </mat-option>
                                        </mat-autocomplete>

                                </mat-form-field>


                                <mat-card-footer class="buttonAdd">
                                        <button color="primary" mat-flat-button>
                                                <mat-icon aria-hidden="false" aria-label="Example home icon"
                                                        (click)="loginFriend(auto)">add</mat-icon>
                                        </button>
                                </mat-card-footer>
                        </form>

                </div>

                <mat-nav-list class="listFriends">
                        <mat-list-item *ngFor="let individuo of individuos">{{individuo.apodo}}
                                <span class="buttonclear"></span>
                                <button mat-flat-button>
                                        <mat-icon aria-hidden="false" aria-label="Example home icon">clear
                                        </mat-icon>
                                </button>
                        </mat-list-item>
                </mat-nav-list>
        </div>
</mat-card>