<mat-toolbar color="primary">
        <mat-toolbar-row>
          <button mat-icon-button (click)="sidenav.toggle()">
          <mat-icon class="example-icon" aria-hidden="false" aria-label="Example heart icon">flight</mat-icon>
          </button>
          <h1>Hero Manager</h1>
          <span class="example-spacer"></span>
          <a [routerLink]="['./relaciones']">
          <mat-icon class="example-icon" aria-hidden="false" aria-label="Example heart icon">house</mat-icon></a>
          <a [routerLink]="['./relaciones']">
          <mat-icon class="example-icon" aria-hidden="false" aria-label="Example delete icon">person_pin</mat-icon>
        </a>
        </mat-toolbar-row>
      </mat-toolbar>