<mat-toolbar color=primary class="toolbarBtnPoss">
  <img src="../assets/superhero.png" width="50rem" routerLink="home">
  <span routerLink="home">Hero Manager</span>
  <span class="mainToolbarSpacer"></span>
  <span *ngIf="isLogged()">
    <a mat-button routerLink="home">
      <mat-icon mat-list-icon>home</mat-icon>
      Home
    </a>
    <a mat-button [routerLink]="['/perfil',loggedId()]">
      <mat-icon mat-list-icon>person</mat-icon>
      Perfil
    </a>
  </span>
</mat-toolbar>
<router-outlet></router-outlet>