<div>
        <h2>Nuevo Equipo</h2>

        <div class="example-container">
        <form class="example-form"> 
                        <label class="labelNombre">Nombre:</label>
                <mat-form-field appearance="outline">
                     <input matInput type="text"  placeholder="ej: los galacticos"name="algo" [(ngModel)]="nombreEquipo">
                </mat-form-field>

                <mat-form-field>
                        <mat-select placeholder="Lider:" name="integrante" [(ngModel)]="liderEquipo">
                                <mat-option *ngFor="let integrante of integrantes" [value]= "integrante.id">{{integrante.apodo}}</mat-option>
                        </mat-select>
                </mat-form-field>
        </form>
        </div>

        <mat-card >
                <div >
                        <app-typeOfRelations class="compAddIntegrantes" [title]="'integrantes'" [typeRelationSerice]="teamService"></app-typeOfRelations>
                </div>
        </mat-card>
</div>

<div mat-dialog-actions>
        <button mat-button (click)="agregarNuevoEquipo()" >Agregar</button>
        <button mat-button (click)="cancelarNuevoEquipo()" mat-flat-button color="warn">Cancel</button>
</div>