<mat-dialog-content>
        <h2>Nuevo Equipo</h2>

        <div class="example-container">

                <label class="labelNombre">Nombre:</label>
                <mat-form-field appearance="outline">
                        <input matInput type="text" placeholder="ej: los galacticos" name="algo"
                                [(ngModel)]="team.nombre" required>
                </mat-form-field>

                <mat-form-field>
                        <mat-select placeholder="Lider:" name="integrante" [(ngModel)]="team.lider" required [formControl]="integranteFormControl">
                                <mat-option *ngFor="let integrante of noIntegrantes" [value]="integrante" >
                                        {{integrante.apodo}}</mat-option>
                        </mat-select>
                        <mat-error *ngIf="integranteFormControl.hasError('required')">
                                        This field is required
                                      </mat-error>
                </mat-form-field>

        </div>
        <div> 
                <app-typeOfRelations class="compAddIntegrantes" [title]="'integrantes'"
                [typeRelationSerice]="teamService" 
        
                [individuos]="team.integrantes" [individualsNotAdded]="noIntegrantes"></app-typeOfRelations>
        </div>

</mat-dialog-content>
<mat-dialog-actions>
        <button mat-button [mat-dialog-close]="team" [disabled]="disableTeam()" >Guardar</button>
        <button mat-button [mat-dialog-close]="'no'" mat-flat-button color="warn">Cancel</button>
</mat-dialog-actions>