table {
    width: 100%;
    position: absolute;
    top: 0;
    right: 0%;
  }

  .example-container {
    height: 400px;
    overflow: auto;
  }

.example-button-row button,
.example-button-row a {
  margin-right: 8px;
}